In [1]:
# Задание № 1

In [1]:
import pandas as pd

path_m = r'C:\Users\operator\Documents\Python Scripts\movies.csv'
path_r = r'C:\Users\operator\Documents\Python Scripts\ratings.csv'

In [2]:
movies = pd.read_csv(path_m)

In [3]:
ratings = pd.read_csv(path_r)

In [4]:
need_df = ratings[['movieId', 'rating']]

In [5]:
need_df

        movieId  rating
0             1     4.0
1             3     4.0
2             6     4.0
3            47     5.0
4            50     5.0
...         ...     ...
100831   166534     4.0
100832   168248     5.0
100833   168250     5.0
100834   168252     5.0
100835   170875     3.0

[100836 rows x 2 columns]

In [6]:
def mean_group(film_data):
    
    if film_data['rating'].mean() <= 2:
        group = 'низкий рейтинг'
    
    elif film_data['rating'].mean() <= 4:
        group = 'средний рейтинг'
    
    else:
        group = 'высокий рейтинг'
    
    return group

In [7]:
answer = need_df.groupby(by='movieId').apply(mean_group)

In [8]:
answer.value_counts()

средний рейтинг    7385
высокий рейтинг    1260
низкий рейтинг     1079
dtype: int64

In [10]:
# Задание 2

In [10]:
keywords = pd.read_csv(r'C:\Users\operator\Documents\Python Scripts\keywords.csv')

In [11]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [12]:
def geo(words: str):
    
    region = []
    
    for key, val in geo_data.items():
        
        for v in val:
            if v in words:
                region.append(key)
    
    if region == []:
        return 'undefined'
    
    elif len(region) == 1:
        return region[0]
    
    else:
        return ', '.join(region)

In [13]:
keywords['region'] = keywords['keyword'].apply(geo)

In [14]:
keywords.region.value_counts()

undefined              99253
Центр                    385
Северо-Запад             266
Дальний Восток            94
Центр, Северо-Запад        2
Name: region, dtype: int64

In [15]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined