In [1]:
import datetime

Задание 1

In [9]:
The_Moscow_Times = "Wednesday, October 2, 2002"
The_Guardian = "Friday, 11.10.13"
Daily_News = "Thursday, 18 August 1977"

In [10]:
mt = datetime.datetime.strptime("Wednesday, October 2, 2002", "%A, %B %d, %Y")

In [11]:
mt

datetime.datetime(2002, 10, 2, 0, 0)

In [12]:
g = datetime.datetime.strptime("Friday, 11.10.13", "%A, %m.%d.%y")

In [13]:
g

datetime.datetime(2013, 11, 10, 0, 0)

In [14]:
dn = datetime.datetime.strptime("Thursday, 18 August 1977", "%A, %d %B %Y")

In [15]:
dn

datetime.datetime(1977, 8, 18, 0, 0)

Задание 2

In [16]:
stream = ["2018-04-02", "2018-02-29", "2018-19-02"]

In [17]:
def correct(date: str):
    try:
        correct_date = datetime.datetime.strptime(date, "%Y-%m-%d")
        return True
    
    except ValueError:
        
        return False

In [18]:
for date in stream:
    print(f'{date} - {correct(date)}')

2018-04-02 - True
2018-02-29 - False
2018-19-02 - False

Задание 3

In [20]:
start_date = input('Введите дату в формате YYYY-MM-DD ')
end_date = input('Введите дату в формате YYYY-MM-DD ')

Введите дату в формате YYYY-MM-DD 2024-03-01
Введите дату в формате YYYY-MM-DD 2024-03-22

In [24]:
def date_range(start_date, end_date):
    
    try:
        std = datetime.datetime.strptime(start_date, '%Y-%m-%d')
        etd = datetime.datetime.strptime(end_date, '%Y-%m-%d')
        
        lst_dates = []
        cur_date = std
        while cur_date <= etd:
            lst_dates.append(cur_date)
            cur_date += datetime.timedelta(days=1)
        return lst_dates
    
    except ValueError:
        
        print(f'Неверно введена дата')

In [26]:
date_range(start_date, end_date)

[datetime.datetime(2024, 3, 1, 0, 0),
 datetime.datetime(2024, 3, 2, 0, 0),
 datetime.datetime(2024, 3, 3, 0, 0),
 datetime.datetime(2024, 3, 4, 0, 0),
 datetime.datetime(2024, 3, 5, 0, 0),
 datetime.datetime(2024, 3, 6, 0, 0),
 datetime.datetime(2024, 3, 7, 0, 0),
 datetime.datetime(2024, 3, 8, 0, 0),
 datetime.datetime(2024, 3, 9, 0, 0),
 datetime.datetime(2024, 3, 10, 0, 0),
 datetime.datetime(2024, 3, 11, 0, 0),
 datetime.datetime(2024, 3, 12, 0, 0),
 datetime.datetime(2024, 3, 13, 0, 0),
 datetime.datetime(2024, 3, 14, 0, 0),
 datetime.datetime(2024, 3, 15, 0, 0),
 datetime.datetime(2024, 3, 16, 0, 0),
 datetime.datetime(2024, 3, 17, 0, 0),
 datetime.datetime(2024, 3, 18, 0, 0),
 datetime.datetime(2024, 3, 19, 0, 0),
 datetime.datetime(2024, 3, 20, 0, 0),
 datetime.datetime(2024, 3, 21, 0, 0),
 datetime.datetime(2024, 3, 22, 0, 0)]